RewriteEngine on
#RewriteCond %{HTTP_HOST} ^(www.)?site$
RewriteRule ^(/)?$ public/index.php [L]
RewriteRule ^(.*)$ /public/$1
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{HTTP_HOST} ^(www.)?site$
