@import "~leaflet/dist/leaflet.css";
@import '~@mdi/font/css/materialdesignicons.css';
@import "~vuetify/dist/vuetify.min.css";

input:focus, textarea:focus{
    box-shadow: none !important;
}
html body {
    height: 100vh;
    background-color: #33a0ff;
    &::-webkit-scrollbar {
        width: 0.3em;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
.v-application--is-ltr .v-text-field .v-label{
    z-index: 5;
}
#app{
    max-height: 100%;
}
.scrollbar{

    &::-webkit-scrollbar{
        width: 0.2em;
        direction: rtl;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
.leaflet-right .leaflet-control a{
    display: none;
}
.auto-height-map{
    @media  (max-width: 600px) {
        height: 300px;
    }
    @media (min-width: 600px){
        height: 750px;
    }
}
.leaflet-popup-content-wrapper {
    pointer-events: none;
}
.leaflet-popup-tip-container {
    pointer-events: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
